$pincolor:rgb(255, 112, 107);

body, html, #root {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 100%;
  height: 100%;
}

.Popup {
  max-width: 350px;
  cursor: default;
  box-shadow: 1px 1px lightgray;
  z-index: 9999;
}

.PopupTitle {
  font-size: 17px;
  margin-bottom: 3px;
  color: black;
}

.PopupAddress {
  font-style: italic;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 6px;
}

.PopupProductTitle {
  font-size: 16px;
  margin-bottom: 3px;
}

.PopupProducts {
  font-size: 13px;
  margin-bottom: 6px;
}

.PopupScheduleTitle {
  font-size: 16px;
  margin-bottom: 3px;
}

.PopupSchedule {
  font-size: 13px;
  margin-bottom: 0px;
}

.MapboxAutocomplete {
  padding-top: 5px;
  padding-left: 5px;
  max-width: 20%;
  z-index: 10;
}

.react-mapbox-ac-menu {
  width: auto;
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -1.3rem;
  border-radius: 10px;
}

.react-mapbox-ac-suggestion:hover {
  background-color: rgb(24, 213, 238);
}

.react-mapbox-ac-suggestion {
  font-size: 18px;
  margin-bottom: 2px;
  cursor: pointer;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.search {
  z-index: 9999;
  border-radius: 20px;
}

.Loading {
  position: relative;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 300px;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px skyblue;
}

.LoadingText {
  margin-top: 18px;
}

.Complete {
  position: relative;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
  padding-left: 15px;
  padding-bottom: 50px;
  width: 300px;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px skyblue;
}

.CompleteText {
  margin-top: 06px; 
}

.Refresh {
  border-radius: 20px;
  box-shadow: 1.5px 1.5px lightgray;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  cursor: pointer;
  transition: 0.38s;
}

.Refresh:hover {
  background-color:$pincolor;
}

.PinImage {
  transition: 0.38s;
}

.PinImage:hover {
  filter: brightness(120%);
}

.InitialLoading {
  position: relative;
  top: 50%;
  margin-top: -150px;
}

.InfoPic {
  transition: 0.38s;
}

.InfoPic:hover {
  filter: brightness(120%);
}
