body, html, #root {
  font: 14px "Century Gothic", Futura, sans-serif;
  width: 100%;
  height: 100%;
}

.MarkerInfo {
  max-width: 350px;
  cursor: default;
}

.PopupTitle {
  font-size: 16px;
  margin-bottom: 3px;
  color: black;
}

.PopupAddress {
  font-style: italic;
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.PopupProductTitle {
  font-size: 15px;
  margin-bottom: 2px;
}

.PopupProducts {
  font-size: 13px;
  margin-bottom: 5px;
}

.PopupScheduleTitle {
  font-size: 15px;
  margin-bottom: 2px;
}

.PopupSchedule {
  font-size: 13px;
  margin-bottom: 0px;
}

.MapboxAutocomplete {
  padding-top: 5px;
  padding-left: 5px;
  max-width: 20%;
}

.Loading {
  position: relative;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
  //margin: auto;
  padding-left: 15px;
  padding-bottom: 10px;
  width: 300px;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px skyblue;
}

.LoadingText {
  margin-top: 20px;
}
